@model CityListViewModel

@{
    ViewBag.Title = "Travel Planner";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<body>
    @foreach (var city in Model.Cities)
    {
        <div>
            <h3>@city.Name</h3>
            <h4>@city.ThingsToDo.Name</h4>
            <h5>@city.ThingsToDo.Description</h5>
            <h5>@city.ThingsToDo.Price.ToString("C")</h5>
        </div>
    }
</body>

