@model ThingsToDoListViewModel

<div class="row row-cols-1 row-cols-md-3 g-4">
    <body>
        @foreach (var thingsToDo in Model.ThingsToDos)
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="d-grid"></h4>
                        <div class="d-flex justify-content-between mt-2">
                            <h2 class="text-start">
                                <a> @thingsToDo.Name</a>
                            </h2>
                            <h5 class="text-nowrap"> @thingsToDo.Id</h5>
                        </div>
                        <h4>@thingsToDo.Description</h4>
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="text-start">
                                @*  <a asp-controller="City" asp-action="Details" asp-route-id="@city.Id"> @city.Name</a>*@
                                <a> @thingsToDo.Id</a>
                            </h5>
                            <h3 class="text-nowrap"> @thingsToDo.Name </h3>
                            <h3 class="text-nowrap">@thingsToDo.Price.ToString("C")</h3>
                        </div>
                    </div>
                </div>
                @*   <h3>@city.Id @city.Name</h3>
            <h3>@city.Description</h3>
            <h4>@city.ThingsToDo.Name</h4>
            <h5>@city.ThingsToDo.Description</h5>
            <h5>@city.ThingsToDo.Price.ToString("C")</h5>*@
            </div>
        }
    </body>

</div>